<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/sheetslider.min.css"> -->
    <link href="//cdn.jsdelivr.net/gh/zkreations/SheetSlider@2.2.0/dist/sheetslider.min.css" rel="stylesheet" />
    <!-- <link href="//cdn.jsdelivr.net/gh/zkreations/SheetSlider@2.2.0/dist/sheetslider.min.js" rel="stylesheet" /> -->

    <link rel="stylesheet" href="/css/home.css">
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

</head>
<!-- body -->

<body>
    <%- include("../partials/header.ejs") %>
        <!-- main -->
        <main>
            <!-- slider -->
            <!-- slide -->
            <div class="sheetSlider sh-fade sh-auto">
                <input id="s1" type="radio" name="slide1" checked="">
                <input id="s2" type="radio" name="slide1">
                <input id="s3" type="radio" name="slide1">
                <input id="s4" type="radio" name="slide1">
                <input id="s5" type="radio" name="slide1">
                <div class="sh__content">

                    <!-- Slider Item -->
                    <div class="sh__item">
                        <img src="img/furi-producto.jpg" alt="imgText">
                        <!-- Item Info -->
                        <div class="sh__meta">
                            <h4>Furi</h4>
                            <span>Secondary text without link</span>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="sh__item">
                        <img src="img/cuphead-carrusel.jpg" alt="imgText">
                        <!-- Item Info -->
                        <div class="sh__meta">
                            <h4>Cup Head</h4>
                            <span>Secondary text <a href="#">with link</a></span>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="sh__item">
                        <img src="https://via.placeholder.com/500x500" alt="imgText">
                        <!-- Item Info -->
                        <div class="sh__meta">
                            <h4>Cup Head</h4>
                            <span>Secondary text without link</span>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="sh__item">
                        <img src="https://via.placeholder.com/500x500" alt="imgText">
                        <!-- Item Info -->
                        <div class="sh__meta">
                            <h4>Cup Head</h4>
                            <span>Secondary text without link</span>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="sh__item">
                        <img src="https://via.placeholder.com/500x500" alt="imgText">
                        <!-- Item Info -->
                        <div class="sh__meta">
                            <h4>Cup Head</h4>
                            <span>Secondary text without link</span>
                        </div>
                    </div>

                </div><!-- .sh__content -->

                <!--botones -->
                <div class="sh__btns">
                    <label for="s1"></label>
                    <label for="s2"></label>
                    <label for="s3"></label>
                    <label for="s4"></label>
                    <label for="s5"></label>
                </div><!-- .sh__btns -->

                <!--flechas-->
                <div class="sh__arrows">
                    <label for="s1"></label>
                    <label for="s2"></label>
                    <label for="s3"></label>
                    <label for="s4"></label>
                    <label for="s5"></label>
                </div><!-- .sh__arrows -->
            </div>
            <!-- prodoductos destacados -->
            <section id="featured">
                <!-- <div class="featured-div"> -->
                <article class="product-article">

                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detail-prod">
                        <h3>Dead cells</h3>
                        <p>$9.99</p>
                    </div>

                </article>
                <article class="product-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detail-prod">
                        <h3>Hollow Knight</h3>
                        <p>$5</p>
                    </div>
                </article>
                <article class="product-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detail-prod">
                        <h3>Furi</h3>
                        <p>$12.50</p>
                    </div>
                </article>
                <article class="product-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detail-prod">
                        <h3>Stardew Valley</h3>
                        <p>$3.99</p>
                    </div>
                </article>
                <!-- </div> -->
            </section>
            <!-- Formulario de categorias -->
            <!-- <div id="form">
                <form action="/home" method="GET">
                    <div>
                        <label for="categoria">Categoría:</label>
                        <select name="categoria">
                            <option value="arcade">Arcade</option>
                            <option value="accion">Acción</option>
                            <option value="deportivo">Deportivo</option>
                            <option value="estrategia">Estrategia</option>
                            <option value="simulacion">Simulación</option>
                            <option value="aventura">Aventura</option>
                            <option value="mesa">Juegos de mesa</option>
                            <option value="musicales">Juegos musicales</option>
                        </select>
                    </div>
                </form>
            </div> -->
            <div id="subtitle">
                <h2>Juegos recientes</h2>
            </div>
            <!-- Productos destacados de cada categoria elegida -->
            <section id="category">

                <!-- <i class="fas fa-chevron-left"></i> -->
                <article class="category-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>
                </article>
                <article class="category-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="category-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="category-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="category-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <!-- <i class="fas fa-chevron-right"></i> -->

            </section>

        </main>

        <!-- footer  -->
        <%- include("../partials/footer.ejs") %>



</body>

</html>