<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>IndieWave</title>
</head>

<%- include("../partials/header.ejs") %>

<body>
    <main>
        <div class="carrusel">
            <i class="fas fa-chevron-left"></i>
            <div>
                <!-- <img class="responsive-img" src="https://via.placeholder.com/1200x500
                    " alt="Carrusel"> -->
            </div>
            <i class="fas fa-chevron-right"></i>
        </div>
        <br>
        <section class="producto-main-top">

            <article class="producto">

                <div class="img-div"><img src="https://via.placeholder.com/500x500" alt="Foto producto Indie Game">
                </div>
                <div class="detalle-prod">
                    <h3>Nombre del producto</h3>
                    <p>$1.000</p>
                </div>

            </article>
            <article class="producto">
                <div class="img-div"><img src="https://via.placeholder.com/500x500" alt="Foto producto Indie Game">
                </div>
                <h3>Nombre del producto</h3>
                <p>$1.000</p>
            </article>
            <article class="producto">
                <div class="img-div"><img src="https://via.placeholder.com/500x500" alt="Foto producto Indie Game">
                </div>
                <h3>Nombre del producto</h3>
                <p>$1.000</p>
            </article>
            <article class="producto">
                <div class="img-div"><img src="https://via.placeholder.com/500x500" alt="Foto producto Indie Game">
                </div>
                <h3>Nombre del producto</h3>
                <p>$1.000</p>
            </article>

        </section>
        <div class="titulo">
            <h2>CATEGORÍA</h2>
        </div>
        <div class="producto-main-bottom">
            <section class="producto-main">
                <i class="fas fa-chevron-left"></i>
                <article class="producto-bottom">
                    <div class="img-div"><img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>
                </article>
                <article class="producto-bottom">
                    <div class="img-div"><img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="producto-bottom">
                    <div class="img-div"><img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="producto-bottom">
                    <div class="img-div"><img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="producto-bottom">
                    <div class="img-div"><img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <i class="fas fa-chevron-right"></i>
            </section>
        </div>
    </main>
</body>


<%- include("../partials/footer.ejs") %>

</html>