<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>IndieWave</title>


</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <div id="subtitle">
                <h2>Categoria</h2>
            </div>
            <!-- crear ¿5? sections de cinco articles con juegos de la categoría correspondiente -->
            <section id="category">
                <article class="category-article">
                    <div>
                        <img class="responsive-img" src="https://via.placeholder.com/1000x1000"
                            alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>
                </article>

            </section>

        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>