<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

    <title>IW - Dashboard</title>
</head>
<body>
    <header>
    <%- include("../partials/header.ejs") %> 
    </header>
    <main>
        <h2>Hola ahi viene la tabla</br></h2>
        <table>Soy la tabla</table>

        <table><thead><th>ID</th>

        </thead><tbody><tr><td>HOLI</td></tr></tbody></table>
    </main>

    <footer>
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>