<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body id="body-edit-create">

    <%- include("../partials/header.ejs") %>

        <main id="main-edit-create">
            <h2 id="title">Lista de productos por su género </h2>
             <ul>
                 <% for (let i= 0; i <products.legth; i++){ %>
                    <li>
                        <%= products[i].name %> - <%= prodcuts[i].genres.name %> 
                    </li>
                 <% } %>     
             </ul>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>