<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

    <script src="/js/productValidations.js"></script>
</head>

<body id="body-edit-create">

    <%- include("../partials/header.ejs") %>

        <main id="main-edit-create">
            <h2 id="title">Crear Producto</h2>
            <form id="create-form" action="/products" method="post" enctype="multipart/form-data">

                <input type="text" name="game_name" id="name" aria-label="nombre del juego" placeholder="Nombre del juego" >
                <% if (locals.errors && errors.name) { %>
                    <span class="error-msg"><i class="fas fa-exclamation-circle"></i>
                        <%=(errors.name && errors.name.msg)%>
                    </span>
                <% } else {%>
                        <span class="error-msg" id="error-name"></span>
                <% } %>

                
                <input type="text" name="developer" id="developer" aria-label="desarrollador" placeholder="Desarrollador" >
                <% if (locals.errors && errors.developer) { %>
                    <span style="color:orange" id="error-developer"><i class="fas fa-exclamation-circle"></i></span>
                <% } else {%>
                    <span style="color:orange" id="error-developer"></span>
                <% } %>


                <div id="genre">
                    <label for="genre">Género:</label>
                    <select name="genre">
                        <option value="Arcade">Arcade</option>
                        <option value="Acción">Acción</option>
                        <option value="Deportes">Deportes</option>
                        <option value="Estrategia">Estrategia</option>
                        <option value="Aventura">Aventura</option>
                    </select>
                </div>


                <input type="email" name="email" id="email" aria-label="email" placeholder="Email de contacto" >
                <% if (locals.errors && errors.email) { %>
                    <span style="color:orange" id="error-email"><i class="fas fa-exclamation-circle"></i></span>
                <% } else {%>
                    <span style="color:orange" id="error-email"></span>
                <% } %>


                <label for="release_date">Fecha de lanzamiento</label>
                <input type="date" name="release_date" id="release_date" aria-label="fecha de lanzamiento" placeholder="Fecha de lanzamiento" >
                <% if (locals.errors && errors.release_date) { %>
                    <span style="color:orange" id="error-release_date"><i class="fas fa-exclamation-circle"></i></span>
                <% } else {%>
                    <span style="color:orange" id="error-release_date"></span>
                <% } %>


                <span id="subtitle">Plataforma</span>
                <div id="checkbox-wrapper">
                    <label for="windows">Windows</label>
                    <input type="checkbox" name="windows" id="windows">
                    <label for="macos">macOS</label>
                    <input type="checkbox" name="macos" id="macos">
                    <label for="linux">Linux</label>
                    <input type="checkbox" name="linux" id="linux">
                </div>

                
                <input type="number" name="price" id="price" aria-label="price" placeholder="Precio" >
                <% if (locals.errors && errors.price) { %>
                    <span style="color:orange" id="error-price"><i class="fas fa-exclamation-circle"></i></span>
                <% } else {%>
                    <span style="color:orange" id="error-price"></span>
                <% } %>


                <label for="logo" id="logo" >Cargar Logo</label>
                <input type="file" name="logo" accept=".png, .jpeg, .jpg" id="logo" aria-label="logo" alt="logo">

                <label for="images" id="images" >Cargar Imágenes</label>
                <input type="file" name="images" accept=".png, .jpeg, .jpg" id="images" aria-label="imágenes" alt="Imágenes" multiple>

                <textarea rows="7" name="min_requirements" id="min_requirements" aria-label="requisitos minimos" placeholder="Requisitos mínimos" ></textarea>
                <% if (locals.errors && errors.min_requirements) { %>
                    <span style="color:orange" id="error-min_requirements"><i class="fas fa-exclamation-circle"></i></span>
                <% } else {%>
                    <span style="color:orange" id="error-min_requirements"></span>
                <% } %>


                <textarea rows="7" name="rec_requirements" id="rec_requirements" aria-label="requisitos recomendados" placeholder="Requisitos recomendados" ></textarea>
                <% if (locals.errors && errors.rec_requirements) { %>
                    <span style="color:orange" id="error-rec_requirements"><i class="fas fa-exclamation-circle"></i></span>
                <% } else {%>
                    <span style="color:orange" id="error-rec_requirements"></span>
                <% } %>


                <textarea rows="9" name="description" id="description" maxlength="500" aria-label="descripcion" placeholder="Descripción . . ." ></textarea>
                <% if (locals.errors && errors.description) { %>
                    <span style="color:orange" id="error-description"><i class="fas fa-exclamation-circle"></i></span>
                <% } else {%>
                    <span style="color:orange" id="error-description"></span>
                <% } %>


                <button type="reset" id="delete-btn">Borrar</button>
                
                <button type="submit" id="send-btn">Enviar</button>
                
            </form>
        </main>
        
        <%- include("../partials/footer.ejs") %>

</body>