@font-face {
    font-family: ubuntu;
    src: url("../fonts/ubuntu-font-family-0.80/UbuntuMono-R.ttf");
}

@font-face {
    font-family: videophreak;
    src: url("../fonts/VIDEOPHREAK.ttf");
}

@font-face {
    font-family: glitch;
    src: url("../fonts/Doctor\ Glitch.otf");
}

@keyframes bordes-header {
    0% {
        border: solid var(--turquoise) 2px;
        padding: 2px;
    }
    50% {
        padding: 4px;
        border: solid var(--turquoise) 2px;
    }
    100% {
        padding: 8px;
        border: solid var(--turquoise) 2px;
    }
}

:root {
    --steelpink: #d30cb8;
    --turquoise: #6df1d8;
    --medium-aquamarine: #58dd94;
    --eminence: #5c2c6d;
    --cadet-blue: #5da4a6;
    --thistle: #b8aec8;
    --space-cadet: #3c345c;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

html {
    padding: 0px;
    min-height: 100vh;
}

html,
body {
    width: 100%;
    margin: 0;
}

body {
    background-image: url("/img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

button {
    cursor: pointer;
}


/*** GENERAL STYLES ***/


/** MOBILE **/


/* Header */

header {
    background-color: black;
    color: var(--steelpink);
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: videophreak;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    max-height: 100%;
}

header .barra-principal {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-top: solid 2px var(--steelpink);
    border-bottom: solid 2px var(--steelpink);
    max-height: 100%;
}

header img {
    width: 100%;
}

header .imagen-logo {
    width: 30%;
    margin: 5px;
}

header .barra-principal,
header ul {
    flex-direction: column;
}

header nav {
    width: 70%;
}

header nav ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

header nav ul li {
    text-align: center;
    font-size: 0.5em;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
}

header #usuario #anchor {
    display: flex;
    justify-content: center;
    color: var(--steelpink);
    border-radius: 7px;
    width: 50%
}

header #profile-pic-wrapper {
    display: none;
}

header #profile-pic-wrapper img {
    width: 100%;
}

header #usuario {
    font-size: 0.5em;
    text-decoration: underline;
}

header .iconos {
    margin: 5px;
    font-size: 0.6em;
    width: 100%;
    display: flex;
    justify-content: center;
}

header .iconos #search-form #search-bar {
    font-size: 0.6em;
    font-family: 'ubuntu';
    background-color: silver;
    color: black;
    outline: none;
}

header .iconos #search-form #search-button {
    background-color: black;
    border: none;
    color: var(--steelpink);
    font-size: 0.6rem;
}

header a {
    text-decoration: none;
    color: inherit;
}


/* Main*/

main a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 95vw;
    min-height: 100vh;
    margin: 185px auto 20px;
    background-color: rgba(92, 44, 109, 0.8);
    box-sizing: border-box;
    padding: 16px;
    font-family: ubuntu;
    color: var(--turquoise);
}


/* Buttons */

.styled-buttons {
    font-family: ubuntu;
    height: 30px;
    background-color: var(--thistle);
    font-size: 18px;
    color: var(--space-cadet);
    min-width: 120px;
}


/* Footer */

footer .barra-principal {
    background-color: black;
    color: var(--steelpink);
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: ubuntu;
}

footer .iconos {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
}

footer img {
    width: 100%;
}

footer nav {
    width: 70%;
}

footer nav ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

footer nav ul li {
    text-align: center;
    font-size: 0.5em;
}

footer a {
    text-decoration: none;
    color: var(--steelpink);
}

footer .imagen-logo {
    width: 10%;
    margin: 0px;
}


/** TABLET **/

@media (min-width: 768px) and (max-width:1024px) {
    /* Header */
    header .barra-principal {
        max-height: 100%;
    }
    header .imagen-logo {
        width: 15%;
        margin: 5px;
    }
    header .barra-principal,
    header ul {
        flex-direction: column;
    }
    header nav ul li {
        text-align: center;
        font-size: 1em;
        margin: 5px 0px;
    }
    header #usuario #anchor {
        display: flex;
        justify-content: center;
        color: var(--steelpink);
        border-radius: 7px;
        width: 50%
    }
    header #profile-pic-wrapper {
        display: none;
    }
    header #profile-pic-wrapper img {
        width: 100%;
    }
    header #usuario {
        font-size: 1em;
        text-decoration: underline;
    }
    header .iconos {
        margin: 5px;
        font-size: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header .iconos #search-form #search-bar {
        font-size: 1em;
    }
    header .iconos #search-form #search-button {
        font-size: 1em;
    }
    header .barra-principal {
        max-height: 100%;
    }
    header .barra-principal,
    header ul {
        flex-direction: column;
    }
    /* Main */
    main {
        margin: 250px auto 20px;
    }
    /* Buttons */
    .styled-buttons {
        height: 50px;
        font-size: 24px;
        min-width: auto;
    }
    /* Footer */
    footer nav ul li {
        font-size: 1em;
    }
    footer .iconos {
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}


/** DESKTOP **/

@media (min-width: 1025px) {
    /* Header */
    header .barra-principal {
        max-height: 65px;
    }
    header .barra-principal,
    header ul {
        flex-direction: row;
    }
    header .barra-principal li {
        font-size: 1em;
    }
    header .imagen-logo {
        width: 10%;
        margin: 15px 5px 15px 15px;
    }
    header #usuario {
        font-size: 1em;
        text-align: center;
        align-self: center;
        text-decoration: none;
    }
    header #profile-pic-wrapper {
        display: flex;
        width: 1.5em;
        margin-right: 10px;
    }
    header #usuario #anchor {
        color: var(--steelpink);
        border-radius: 7px;
        width: 100%;
        align-items: center;
    }
    header .iconos {
        width: 20%;
        display: flex;
        justify-content: flex-start;
        font-size: 1.5rem;
    }
    header .iconos #search-form #search-bar {
        width: 70%;
        font-size: 1rem;
    }
    header .iconos #search-form #search-button {
        font-size: 1.5rem;
    }
    header .iconos a .fa-shopping-cart {
        margin-left: 20px;
    }
    header .iconos a {
        width: 33%;
    }
    /* Main */
    main {
        width: 75vw;
        margin: 90px auto 20px;
    }
    /* Footer */
    footer .imagen-logo {
        margin: 50px 0px 50px 50px;
    }
    footer nav ul li {
        font-size: 1em;
    }
    footer .iconos {
        width: 10%;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.5em;
    }
    /* Animations */
    header nav ul li {
        box-sizing: border-box;
        width: 15%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav ul li a:hover {
        animation: bordes-header 200ms forwards;
    }
    /* Transitions */
    header .barra-principal .iconos i:hover {
        color: var(--turquoise);
    }
    header .barra-principal .iconos i {
        transition: color 400ms;
    }
}


/*** PRODUCT DETAIL ***/


/**MOBILE**/

main #title-area #breadcrumb {
    display: none;
}

main #title-area h2 {
    font-size: 20px;
}

main #game-area {
    display: flex;
    flex-direction: column-reverse;
}

main #game-area #carrousel {
    width: 100%;
    margin-top: 20px;
}

main #game-area #carrousel #main-img {
    width: 100%;
}

main #game-area #carrousel #img-bar {
    /*¿Cómo hacemos para mostrar menos elementos sin que se caigan?*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

main #game-area #carrousel #img-bar .img-div {
    width: 25%;
}

main #game-area #carrousel #img-bar #last-div {
    display: none;
}

main #game-area #game-info {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
}

main #game-area #game-info #game-desc {
    display: flex;
    flex-direction: column;
    color: var(--thistle);
}

main #game-area #game-info #game-desc>div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

main #game-area #game-info #game-info-button-wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main #game-area #game-info #game-info-button-wrapper #price-tag {
    font-size: 20px;
    color: var(--medium-aquamarine);
}

main #game-area #game-info button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-weight: 600;
    font-family: 'ubuntu';
    background-color: var(--thistle);
    color: var(--space-cadet);
    font-size: 18px;
}

main #extras-area {
    display: flex;
    box-sizing: border-box;
}

main #extras-area #req-dlc-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
    border-top: solid 1px var(--steelpink);
}

main #extras-area #req-dlc-wrapper h3 {
    margin-top: 30px;
    font-size: 18px;
}

main #extras-area #req-dlc-wrapper #requisites {
    display: flex;
    margin-bottom: 20px;
}

main #extras-area #req-dlc-wrapper #requisites div {
    width: 50%;
}

main #extras-area #req-dlc-wrapper #requisites #minimum {
    margin-right: 30px;
}

main #extras-area #req-dlc-wrapper #requisites h4 {
    margin: 0;
    padding: 10px 5px;
    display: inline-block;
    background-color: rgba(184, 174, 200, 0.8);
    color: var(--space-cadet);
    border-radius: 7px 7px 0 0;
    font-size: 14px;
}

main #extras-area #req-dlc-wrapper #requisites p {
    margin: 0;
    padding: 10px;
    background-color: rgba(184, 174, 200, 0.8);
    color: var(--space-cadet);
    border-radius: 0 7px 7px 7px;
}

main #extras-area #game-summary {
    padding-top: 20px;
    border-top: 1px var(--steelpink) solid;
}

main #extras-area #game-summary p {
    margin: 0;
    padding: 10px;
    background-color: rgba(184, 174, 200, 0.8);
    color: var(--space-cadet);
    border-radius: 7px;
}

main #extras-area #sale {
    display: none;
}


/** TABLET **/

@media (min-width: 768px) {
    main #game-area #game-info button {
        width: 50%;
    }
    main #game-area #game-info #game-desc {
        margin: auto;
        width: 50%;
    }
    main #game-area #game-info #game-logo {
        margin: auto;
        width: 50%;
    }
    main #title-area h2 {
        font-size: 30px;
    }
}


/** DESKTOP **/

@media (min-width: 1025px) {
    main #title-area #breadcrumb {
        display: block;
        color: var(--thistle);
        padding-bottom: 10px;
        border-bottom: 1px solid var(--steelpink);
    }
    main #title-area h2 {
        font-size: 40px;
    }
    main #game-area {
        flex-direction: row;
    }
    main #game-area #carrousel {
        margin: 0;
        width: 70%;
    }
    main #game-area #game-info {
        width: 30%;
        margin-left: 60px;
        font-size: 1.2rem;
    }
    main #game-area #game-info #game-desc {
        width: 100%;
    }
    main #game-area #game-info #game-logo {
        width: 100%;
    }
    main #game-area #game-info #game-info-button-wrapper {
        margin-top: 40px;
    }
    main #game-area #game-info #game-info-button-wrapper #price-tag {
        align-self: flex-start;
    }
    main #game-area #game-info button {
        height: 50px;
        font-size: 24px;
        width: 100%;
    }
    main #extras-area {
        display: flex;
        box-sizing: border-box;
    }
    main #extras-area #req-dlc-wrapper {
        width: 70%;
        padding-left: 30px;
    }
    main #extras-area #req-dlc-wrapper h3 {
        margin-top: 30px;
        font-size: 24px;
    }
    main #extras-area #req-dlc-wrapper #requisites {
        margin-bottom: 40px;
    }
    main #game-area #carrousel #img-bar .img-div {
        width: 20%;
    }
    main #game-area #carrousel #img-bar #last-div {
        display: block;
    }
    main #extras-area #req-dlc-wrapper #requisites #minimum {
        margin-right: 30px;
    }
    main #extras-area #req-dlc-wrapper #requisites h4 {
        font-size: 16px;
    }
    main #extras-area #req-dlc-wrapper #requisites p {
        margin: 0;
        padding: 10px;
    }
    main #extras-area #game-summary {
        padding-top: 40px;
    }
    main #extras-area #game-summary p {
        margin: 0;
        padding: 10px;
    }
    main #extras-area #sale {
        display: block;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main #extras-area #sale #sale-content-wrapper {
        border: 5px var(--steelpink) solid;
        width: 60%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main #extras-area #sale #sale-title {
        text-align: center;
        width: 100%;
    }
    main #extras-area #sale #sale-title p {
        font-size: 40px;
        margin: 15px;
    }
    main #extras-area #sale #sale-img {
        display: inline-block;
    }
    main #extras-area #sale button {
        font-size: 24px;
        width: 80%;
        height: 50px;
        margin-top: 10px;
        font-family: 'ubuntu';
        background-color: var(--thistle);
        color: var(--space-cadet);
    }
}


/*** DASHBOARD ***/


/** MOBILE - TABLET - DESKTOP **/

#dashboard {
    width: 100%;
    background-color: var(--thistle);
    border: 2px solid var(--steelpink);
    border-collapse: collapse;
    text-align: center;
    font-size: 8px;
}

#dashboard {
    font-size: 9px;
}

#dashboard input {
    font-size: 5px;
}

#dashboard th {
    font-size: 8px
}

#add-button {
    margin: 2% 0px;
    display: flex;
    justify-content: flex-end;
}

#add-button a {
    font-size: 20px;
    font-family: "ubuntu";
}

#dashboard th {
    border: 2px solid var(--steelpink);
    color: var(--eminence);
    padding: 5px 0px;
    font-size: 5px;
}

#dashboard td {
    padding: 5px 0px;
    color: var(--space-cadet);
    border: 2px solid var(--steelpink);
}

#dashboard input {
    font-size: 5px;
    font-family: "ubuntu";
}


/** DASHBOARD TABLET **/

@media (min-width: 768px) {
    #dashboard {
        font-size: 9px;
    }
    #dashboard input {
        font-size: 5px;
    }
    #dashboard th {
        font-size: 8px
    }
}


/** DASHBOARD DESKTOP **/

@media (min-width: 1024px) {
    #dashboard {
        font-size: 16px;
    }
    #dashboard input {
        font-size: 12px;
    }
    #dashboard th {
        font-size: 16px
    }
}


/*** HOME ***/


/*featured*/

#featured {
    text-align: center;
}

#featured .product-article {
    width: 70%;
    background-color: var(--space-cadet);
    margin: auto;
    border: solid 2px var(--turquoise);
    margin-top: 10%;
}

#featured .product-article .detail-prod h3 {
    color: var(--turquoise);
    border: solid 2px var(--steelpink);
    padding-top: 5px;
    margin: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

#featured .product-article .detail-prod p {
    color: var(--turquoise);
}


/*Subtitulo*/

#subtitle-home,
#subtitle-featured-home {
    background-color: var(--eminence);
    color: var(--turquoise);
    margin: auto;
    padding: 4px;
    width: 80%;
    text-align: center;
    margin-top: 5%;
}


/*category*/

#category {
    text-align: center;
}

#category .category-article {
    width: 80%;
    background-color: var(--space-cadet);
    border: solid 2px var(--turquoise);
    margin-top: 10%;
}

#category .category-article .detalle h3 {
    color: var(--turquoise);
    border: solid 2px var(--steelpink);
    padding-top: 5px;
    margin: 5px;
    padding-bottom: 5px;
    font-size: 17px;
}

#category .category-article .detalle p {
    color: var(--turquoise);
}


/*slide */

.sheetSlider {
    border: solid var(--space-cadet);
    width: 90%;
    margin: auto;
}

.sh__item img {
    height: -webkit-fill-available;
}


/*medias*/

.container {
    margin: auto;
    background-color: var(--eminence);
    width: 70%;
    padding: 30px;
    border: solid 5px var(--space-cadet);
}

#featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/**Media TABLET home**/

@media (min-width: 768px) {
    .container {
        text-align: center;
        width: 70%;
        background-color: var(--eminence);
        padding: 30px;
        border: solid 5px var(--thistle);
    }
    #subtitle-home {
        margin-left: 0px;
        width: 25%;
    }
    #subtitle-featured-home {
        margin-left: 0px;
        width: 25%;
    }
    #featured {
        display: flex;
        background-color: var(--eminence);
        justify-content: space-around;
        padding: 0px 10px 10px;
    }
    #featured .product-article {
        margin-top: 2%;
        width: 20%;
        margin-bottom: 2%;
    }
    #category {
        display: flex;
        background-color: var(--eminence);
        justify-content: space-between;
        padding: 0px 10px 10px;
    }
    #category .category-article {
        margin-top: 2%;
        width: 17%;
    }
}


/*** FORMS ***/


/** MOBILE - TABLET **/

main #form-div {
    margin: 104.5px auto;
    height: 100vh;
    width: 100%;
    display: flex;
}

#body-edit-create {
    height: auto;
}

#main-edit-create {
    flex-direction: column;
}

main #title {
    text-align: center;
}

#register-form,
#login-form,
#edit-form,
#create-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
}

#form-selection-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 15px;
    width: 100%;
    margin: 18px auto;
    margin-top: 5px;
}

#register-form #checkbox-wrapper input,
#login-form #checkbox-wrapper input,
#create-form #checkbox-wrapper input,
#edit-form #checkbox-wrapper input {
    margin-top: 0;
    margin-right: 10px;
    width: 14px;
}

#create-form #checkbox-wrapper label,
#edit-form #checkbox-wrapper label {
    margin-top: 0px;
}

#register-form input,
#login-form input,
#edit-form input,
#create-form input {
    font-family: ubuntu;
    height: 30px;
    font-size: 12px;
    margin-top: 20px;
    width: 80%;
    background-color: silver;
    box-shadow: black 3px 4px;
    outline: none;
}

#register-form input,
#login-form input,
#edit-form input,
#create-form input {
    font-family: ubuntu;
    height: 30px;
    font-size: 12px;
    margin-top: 20px;
    width: 80%;
    background-color: silver;
    box-shadow: black 3px 4px;
    outline: none;
}

#register-form input[type=file],
#login-form input[type=file],
#edit-form input[type=file],
#create-form input[type=file] {
    box-shadow: none;
    background: initial;
}

#register-form input[type=checkbox],
#login-form input[type=checkbox],
#edit-form input[type=checkbox],
#create-form input[type=checkbox] {
    box-shadow: none;
    background: initial;
}

#register-form button,
#login-form button {
    font-family: ubuntu;
    height: 30px;
    background-color: var(--thistle);
    font-size: 18px;
    color: var(--space-cadet);
    min-width: 120px;
}

#edit-form button,
#create-form button {
    font-family: ubuntu;
    height: 30px;
    background-color: var(--thistle);
    font-size: 18px;
    color: var(--space-cadet);
    min-width: 120px;
    margin-top: 5%;
}

#register-form #submit-btn,
#login-form #submit-btn {
    width: 80%;
    height: 40px;
}

#edit-form #delete-btn,
#create-form #delete-btn,
#send-btn {
    width: 80%;
    height: 40px;
    margin-top: 5%;
}

#register-form a,
#login-form a {
    color: var(--turquoise);
    font-size: 12px;
}

#forgot-pass {
    margin-top: 15px;
}

#edit-form a,
#create-form a {
    color: var(--space-cadet);
    font-size: 24px;
}

#subtitle {
    margin-top: 20px;
}

#requeriment {
    margin-top: 2px
}

textarea {
    resize: none;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 12px;
    width: 80%;
}

label {
    margin-top: 40px;
}

#label-login,
#label-register {
    margin-top: 0px;
}

#genre {
    width: 80%;
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
}

#genre select {
    font-family: "ubuntu";
    font-size: 18px;
    width: 50%;
}

.error-msg {
    color: orange;
    font-size: 11px;
    margin: 10px 0px;
}


/** FORMS TABLET **/

@media (min-width: 768px) {
    /*Media home*/
    .container {
        text-align: center;
        width: 70%;
        background-color: var(--eminence);
        padding: 30px;
        border: solid 5px var(--thistle);
    }
    #subtitle-home {
        margin-left: 0px;
        width: 25%;
    }
    #subtitle-featured-home {
        margin-left: 0px;
        width: 25%;
    }
    #featured {
        display: flex;
        background-color: var(--eminence);
        justify-content: space-around;
        padding: 0px 10px 10px;
    }
    #featured .product-article {
        margin-top: 2%;
        width: 20%;
        margin-bottom: 2%;
    }
    #category {
        display: flex;
        background-color: var(--eminence);
        justify-content: space-between;
        padding: 0px 10px 10px;
    }
    #category .category-article {
        margin-top: 2%;
        width: 17%;
    }
    .error-msg {
        font-size: 13px;
    }
}


/** FORMS DESKTOP **/

@media (min-width: 1024px) {
    #register-form,
    #login-form,
    #edit-form,
    #create-form {
        width: 35%;
        margin: auto;
    }
    #form-selection-wrapper {
        justify-content: space-between;
    }
    #checkbox-wrapper {
        font-size: 18px;
        margin: 0;
    }
    #register-form #checkbox-wrapper input,
    #login-form #checkbox-wrapper input,
    #create-form #checkbox-wrapper input,
    #edit-form #checkbox-wrapper input {
        margin-top: 0;
        margin-right: 10px;
        width: 20px;
    }
    #register-form input,
    #login-form input,
    #edit-form input,
    #create-form input {
        height: 50px;
        font-size: 16px;
        width: 100%;
    }
    #register-form button,
    #login-form button {
        height: 50px;
        font-size: 24px;
        min-width: 160px;
    }
    #edit-form button,
    #create-form button {
        height: 50px;
        font-size: 24px;
        min-width: auto;
    }
    #register-form #submit-btn,
    #login-form #submit-btn,
    #edit-form #delete-btn,
    #create-form #delete-btn,
    #send-btn {
        width: 100%;
    }
    #register-form a,
    #login-form a {
        font-size: 16px;
    }
    #edit-form a,
    #create-form a {
        color: var(--space-cadet);
        font-size: 24px;
    }
    textarea {
        resize: none;
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 16px;
        width: 100%;
    }
    label {
        margin: 0;
    }
    label[for=profile-pic] {
        margin-top: 15px;
        font-size: 18px;
    }
    #forgot-pass {
        margin-top: 15px;
    }
    .error-msg {
        font-size: 14px;
    }
}


/*** SHOPPING CART ***/


/** MOBILE **/

.shopping-cart h2 {
    font-family: ubuntu;
    color: var(--turquoise);
    font-size: 1.5em;
    padding: 0 2%;
    margin: 1% 0;
    border-bottom: var(--steelpink) solid 1px;
}

.shopping-cart .upper-part {
    width: 90%;
    margin: auto;
}

.shopping-cart ul {
    list-style-type: none;
    margin: 0%;
    padding: 0px;
    width: 100%;
    font-size: 1rem;
    font-family: ubuntu;
    display: flex;
    justify-content: space-evenly;
}

.shopping-cart ul li {
    width: 20%;
    text-align: center;
    color: var(--turquoise);
    border-left: solid 1px var(--steelpink);
    border-right: solid 1px var(--steelpink);
}


/* Productos del carrito */

.shopping-cart .producto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
    font-family: ubuntu;
    background-color: rgba(184, 174, 200, 0.8);
    border-radius: 7px 7px 7px 7px;
    border-color: var(--thistle) solid 3px;
}

.shopping-cart .producto div img {
    width: 100%;
}

.shopping-cart .producto .categoria-producto {
    width: 20%;
    text-align: center;
}

.shopping-cart .upper-part .producto .descripcion-producto .titulo-producto {
    font-size: 0.6em;
    color: var(--space-cadet);
    font-weight: 700;
}

.shopping-cart .descripcion-producto {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.shopping-cart .upper-part .cart-bar {
    font-size: 8px;
}

.shopping-cart .upper-part .producto .descripcion-producto #eliminar {
    font-size: 0.3em;
    align-self: flex-end;
    margin-top: 10%;
    text-decoration: underline;
    color: var(--steelpink);
}

.shopping-cart .upper-part .producto .precio {
    color: var(--medium-aquamarine);
    font-size: 0.8em;
}


/*Parte inferior*/

.shopping-cart .bottom-part {
    display: flex;
    margin: 2% auto;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}


/* Descuentos */

.shopping-cart .bottom-part .cupones {
    background-color: rgba(184, 174, 200, 0.8);
    width: 100%;
    margin-bottom: 3%;
    font-size: 0.6em;
    font-family: ubuntu;
    color: var(--turquoise);
    height: fit-content;
    border-radius: 7px 7px 7px 7px;
    border-color: var(--thistle) solid 3px;
}

.shopping-cart .bottom-part .cupones label {
    margin: 0px;
}

.shopping-cart .bottom-part .cupones input {
    font-size: 1em;
}

.shopping-cart .bottom-part .cupones button {
    font-size: 1em;
}

.shopping-cart .cupones form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.shopping-cart .cupones form button {
    font-size: 1rem;
    padding: 2% 3%;
    background-color: var(--thistle);
    font-weight: 600;
    color: var(--space-cadet);
}

.shopping-cart .cupones form input {
    width: 20%;
}


/* Total */

.shopping-cart .subtotal {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(184, 174, 200, 0.8);
    border-radius: 7px 7px 7px 7px;
    border-color: var(--thistle) solid 3px;
    padding: 2%;
}

.shopping-cart .bottom-part .descuento-wrapper {
    margin: 0px 0px 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    font-family: ubuntu;
    font-weight: 100;
    color: var(--medium-aquamarine)
}

.shopping-cart .bottom-part .total-wrapper {
    margin: 0px 0px 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    font-family: ubuntu;
}

.shopping-cart .bottom-part .total-wrapper .valor-total {
    color: var(--space-cadet);
    font-weight: 600;
}

.shopping-cart .bottom-part .total-wrapper .precio-total {
    color: var(--space-cadet);
    font-weight: 600;
}


/* Botones */

.shopping-cart .bottom-part #botones {
    font-size: 0.6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 10px;
}

.shopping-cart .bottom-part #botones #seguir-comprando {
    font-family: ubuntu;
    font-size: 1.1em;
    background-color: var(--thistle);
    color: var(--space-cadet);
    padding: 5px 8px;
}

.shopping-cart .bottom-part #botones #comprar {
    font-family: ubuntu;
    font-size: 1.5em;
    background-color: var(--thistle);
    font-weight: 600;
    color: var(--space-cadet);
    width: auto;
    padding: 5%;
}


/* Oferta especial */

.shopping-cart .oferta-especial {
    display: none;
}


/** Laptop - Tablet **/

@media (min-width:768px) {
    /* Productos del carrito */
    .shopping-cart .upper-part .producto .descripcion-producto .titulo-producto {
        font-size: 1em;
    }
    .shopping-cart .upper-part .cart-bar {
        font-size: 15px;
    }
    .shopping-cart .upper-part .producto .descripcion-producto #eliminar {
        font-size: 0.6em;
    }
    .shopping-cart .upper-part .producto .precio {
        font-size: 1.3em;
    }
    /* Cupones */
    .shopping-cart .bottom-part .cupones {
        width: 45%;
        font-size: 0.7em;
    }
    .bottom-part .cupones input {
        font-size: 0.8em;
    }
    .shopping-cart .bottom-part .cupones button {
        font-size: 1em;
    }
    /* Subtotal */
    .shopping-cart .bottom-part .subtotal {
        width: 45%;
    }
    .shopping-cart .bottom-part .subtotal .descuento-wrapper {
        font-size: 1em;
        margin: 0px 0px 10px;
        justify-content: space-around;
    }
    .shopping-cart .bottom-part .subtotal .total-wrapper {
        font-size: 1em;
        margin: 0px 0px 10px;
        justify-content: space-around;
    }
    .shopping-cart .bottom-part .subtotal #botones {
        font-size: 0.6em;
        margin: 0px 0px 10px;
        justify-content: space-around;
    }
    /* Oferta Especial */
    .shopping-cart .oferta-especial {
        display: block;
        margin: 1% 5%;
        width: 50%;
        font-family: ubuntu;
    }
    .shopping-cart .oferta-especial .titulo-oferta {
        font-size: 1.6em;
        font-weight: 600;
        color: var(--space-cadet);
        background-color: rgba(184, 174, 200, 0.8);
        padding: 1% 4% 1px 4%;
        border: 3px var(--steelpink) solid;
        border-radius: 7px 7px 0px 0px;
        border-bottom: none;
    }
    .shopping-cart .oferta-especial .wrapper-oferta {
        background-color: rgba(184, 174, 200, 0.8);
        color: var(--space-cadet);
        border: 3px var(--steelpink) solid;
        border-radius: 0px 7px 7px 7px;
    }
    .shopping-cart .oferta-especial .imagen-oferta {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .shopping-cart .oferta-especial .titulo-juego {
        width: auto;
        font-size: 1.8em;
        text-align: center;
        margin: 5% 0;
        color: var(--space-cadet);
    }
    .shopping-cart .oferta-especial .descripcion-oferta {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .shopping-cart .oferta-especial .descuento-juego {
        font-size: 2em;
        margin: 0 5% 5%;
        color: var(--medium-aquamarine);
    }
    .shopping-cart .oferta-especial .fas {
        font-size: 2em;
        margin: 0 5% 5%;
    }
}


/** Desktop **/

@media (min-width:1025px) {
    .shopping-cart h2 {
        font-family: ubuntu;
        color: var(--turquoise);
        font-size: 3em;
        padding: 0 2%;
        margin: 1% 0;
        border-bottom: var(--steelpink) solid 1px;
    }
    .shopping-cart .upper-part {
        width: 90%;
        margin: auto;
    }
    .shopping-cart main ul {
        list-style-type: none;
        margin: 0%;
        padding: 0px;
        width: 100%;
        font-size: 1rem;
        font-family: ubuntu;
        display: flex;
        justify-content: space-evenly;
    }
    .shopping-cart main ul li {
        width: 20%;
        text-align: center;
        color: var(--turquoise);
        border-left: solid 1px var(--steelpink);
        border-right: solid 1px var(--steelpink);
    }
    /* Productos del carrito */
    .shopping-cart .upper-part .producto .descripcion-producto .titulo-producto {
        font-size: 1.2em;
    }
    .shopping-cart .upper-part .cart-bar {
        font-size: 15px;
    }
    .shopping-cart .upper-part .producto .descripcion-producto #eliminar {
        font-size: 0.8em;
    }
    .shopping-cart .upper-part .producto .precio {
        font-size: 1.3em;
    }
    /*Parte inferior*/
    /* Cupones */
    .shopping-cart .bottom-part .cupones {
        font-size: 1em;
    }
    /* Subtotal */
    .shopping-cart .bottom-part .subtotal .descuento-wrapper {
        font-size: 1.5em;
    }
    .shopping-cart .bottom-part .subtotal .total-wrapper {
        font-size: 1.5em;
    }
    .shopping-cart .bottom-part .subtotal #botones {
        font-size: 1em;
    }
}


/*** PROFILE ***/


/*profilepic*/

main #profilepic-profile {
    width: 150px;
    height: 150px;
    background-color: black;
}


/**/

main #profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

main div #img-profilepic {
    width: 100%;
    border: solid 3px var(--turquoise);
    height: 100%;
    box-sizing: border-box;
    object-fit: contain;
}


/*h2*/

main div #name-lastname {
    font-size: 1.2em;
}


/*h2 h3*/

main #username-surname {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: solid 3px var(--steelpink);
    margin-top: 35px;
    padding: 20px;
}


/* form */

main #profile-form {
    display: flex;
    width: auto;
    justify-content: center;
    height: 30px;
    margin: 15px;
    margin-top: 35px;
}

main #button {
    height: 100%;
    background: var(--thistle);
    font-size: 1.2em;
    color: var(--space-cadet);
    font-family: 'ubuntu';
}


/* div main*/

main .flex-wrapper {
    display: flex;
    min-height: 100%;
    width: 100%;
}


/**  TABLET **/

@media (min-width:768px) {
    main #profile-div {
        display: flex;
        align-items: center;
    }
    main #wrapper {
        margin: 15px;
    }
    main #profilepic-profile {
        width: 300px;
        height: 300px;
    }
    /* form */
    main #profile-form {
        margin-top: 60px;
    }
    main #username-surname {
        margin-top: 30px;
        padding: 40px;
    }
}


/***  404  ***/


/** MOBILE - TABLET - DESKTOP **/

#body-error {
    background-image: url("/img/404.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

#main-error {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
}

#textbox-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#number-error {
    font-family: "glitch";
    font-size: 40px;
    color: white;
    letter-spacing: 15px;
}

.text-error {
    font-family: "glitch";
    font-size: 60px;
    color: white;
    letter-spacing: 10px;
}


/*** LOGIN FORM ***

/** IMAGES-ASIDE **/


/** MAIN SECTION **/

#main-login-form {
    width: 100%;
    min-height: 100vh;
    margin: 185px auto 20px;
    background-color: rgba(92, 44, 109, 0.8);
    box-sizing: border-box;
    padding: 16px;
    font-family: ubuntu;
    color: var(--turquoise);
}

#main-login-form #form-div {
    height: AUTO;
}

#main-login-form .main-section {
    display: flex;
    flex-wrap: nowrap;
}


/** IMAGES-ARRAY **/

@media (min-width: 768px) {
    #main-login-form {
        padding: 0px;
    }
    #main-login-form .main-section .images-array {
        background-size: 50vw;
        width: 50VW;
        height: 100vh;
        background-repeat: repeat-y;
    }
}

@media (min-width: 1024px) {
    /* Main */
    #main-login-form {
        width: 100%;
        margin: 90px auto 20px;
    }
    #main-login-form {
        /* Para simular que la imagen siga por abajo del Header y Footer */
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 70px;
    }
    #main-login-form .main-section .images-array {
        background-position: center;
        background-size: cover;
        width: 50VW;
        height: 100vh;
        background-repeat: repeat;
        right: 20px;
        z-index: 15;
    }
}


/*** EDIT PROFILE ***/

#profile-edit-main {
    display: flex;
    flex-direction: column;
}

#profile-edit-main form {
    margin: auto auto;
    display: flex;
    width: 100%;
    flex-direction: column;
}


/* PROFILE PIC */

#profile-edit-main #profile-pic-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-edit-main #profile-pic-wrapper #image-wrapper {
    width: 150px;
    height: 150px;
    background-color: black;
}

#profile-edit-main #profile-pic-wrapper #image-wrapper img {
    width: 100%;
    border: solid 3px var(--turquoise);
    height: 100%;
    box-sizing: border-box;
    object-fit: contain;
}


/* INPUT */

#profile-edit-main #profile-pic-wrapper input {
    margin-top: 50px;
}

#profile-edit-main #general-wrapper #input-wrapper {
    width: 100%;
    text-align: center;
}

#profile-edit-main #general-wrapper #input-wrapper div {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#profile-edit-main #general-wrapper #input-wrapper input {
    font-family: ubuntu;
    height: 25px;
    font-size: 12px;
    margin-top: 20px;
    width: 50%;
    background-color: silver;
    box-shadow: black 3px 4px;
    outline: none;
}


/* BUTTON */

#profile-edit-main #button-wrapper {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-bottom: 15px;
}

#profile-edit-main .styled-buttons {
    width: 30%;
    height: 100%;
    margin-top: 15px;
}


/** TABLET **/

@media (min-width: 768px) and (max-width:1024px) {
    #profile-edit-main #general-wrapper #input-wrapper div {
        font-size: 16px;
    }
    #profile-edit-main .styled-buttons {
        font-size: 18px;
    }
}


/** DESKTOP **/

@media (min-width:1025px) {
    #profile-edit-main {
        height: 100vh;
        width: 100%;
        display: flex;
        margin: auto auto;
    }
    #profile-edit-main form {
        margin: auto auto;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    #profile-edit-main #general-wrapper {
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
        justify-content: space-around;
    }
    /* PROFILE PIC */
    #profile-edit-main #profile-pic-wrapper {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #profile-edit-main #profile-pic-wrapper #image-wrapper {
        width: 300px;
        height: 300px;
        background-color: black;
    }
    #profile-edit-main #profile-pic-wrapper #image-wrapper img {
        width: 100%;
        border: solid 3px var(--turquoise);
        height: 100%;
        box-sizing: border-box;
        object-fit: contain;
    }
    /* INPUT */
    #profile-edit-main #profile-pic-wrapper input {
        margin-top: 50px;
    }
    #profile-edit-main #general-wrapper #input-wrapper {
        width: 50%;
        text-align: center;
    }
    #profile-edit-main #general-wrapper #input-wrapper div {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
    }
    #profile-edit-main #general-wrapper #input-wrapper input {
        font-family: ubuntu;
        height: 30px;
        font-size: 18px;
        margin-top: 20px;
        width: 50%;
        background-color: silver;
        box-shadow: black 3px 4px;
        outline: none;
    }
    /* BUTTON */
    #profile-edit-main #button-wrapper {
        display: flex;
        justify-content: center;
        height: 50px
    }
    #profile-edit-main .styled-buttons {
        width: 30%;
        height: 100%;
        margin-top: 30px;
        font-size: 24px;
    }
}