<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <main>
            <div style="height: 100%; width: 100%; display: flex;">
                <form id="register-form" action="">
                    <div id="form-selection-wrapper">
                        <button id="reg-btn" aria-label="registrarse">Registrarse</button>
                        <button id="login-btn" aria-label="ingresar">Ingresar</button>
                    </div>
                    <input type="text" name="name" id="name" aria-label="nombre" placeholder="Nombre">
                    <input type="text" name="surname" id="surname" aria-label="apellido" placeholder="Apellido">
                    <input type="email" name="email" id="email" aria-label="e-mail"
                        placeholder="e-mail">
                    <input type="text" name="username" id="username" aria-label="nombre de usuario"
                        placeholder="Nombre de usuario">
                    <input type="password" name="password" id="password" aria-label="contraseña"
                        placeholder="Contraseña">
                    <div id="checkbox-wrapper">
                        <input type="checkbox" name="news" id="news">
                        <label id="label-register" for="news">Me gustaría recibir novedades</label>
                    </div>
                    <button type="submit" id="submit-btn">Enviar</button>
                </form>
            </div>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>