<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>IndieWave</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
</head>

<body>
    
    <%- include("../partials/header.ejs") %>

    <main>
        <section id="title-area">
            <div id="breadcrumb">
                <p>Todos los juegos > Categoría > Nombre del Juego</p>
            </div>
            <h2>Nombre del Juego</h2>
        </section>
        <section id="game-area">
            <article id="carrousel">
                <div id="main-img">
                    <img class="responsive-img" src="https://via.placeholder.com/1120x500" alt="carrousel">
                </div>
                <div id="img-bar">
                    <i class="fas fa-chevron-left"></i>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div id="last-div" class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </article>
            <aside id="game-info">
                <div id="game-logo">
                    <img class="responsive-img" src="https://via.placeholder.com/1120x500">
                </div>
                <div id="game-desc">
                    <div>
                        <span>Desarrollador</span>
                        <span>Ejemplo</span>
                    </div>
                    <div>
                        <span>Fecha de lanzamiento</span>
                        <span>Ejemplo</span>
                    </div>
                    <div>
                        <span>Plataforma</span>
                        <span>Ejemplo</span>
                    </div>
                </div>
                <div id="game-info-button-wrapper">
                    <span id="price-tag">$99.99</span>
                    <button id="game-to-cart-btn">Añadir al Carro</button>
                    <button id="game-to-wishlist-btn">Añadir a Lista de Deseados</button>
                </div>
            </aside>
        </section>
        <section id="extras-area">
            <div id="req-dlc-wrapper">
                <h3>Requisitos del Sistema</h3>
                <article id="requisites">
                    <div id="minimum">
                        <div>
                            <h4>Mínimos</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolores est obcaecati
                            reiciendis rerum hic nostrum ducimus. Doloribus fuga quae, alias minima blanditiis error
                            officiis ratione non repellendus amet asperiores.</p>
                    </div>
                    <div id="recommended">
                        <div>
                            <h4>Recomendados</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolores est obcaecati
                            reiciendis rerum hic nostrum ducimus. Doloribus fuga quae, alias minima blanditiis error
                            officiis ratione non repellendus amet asperiores.</p>
                    </div>
                </article>

                <article id="game-summary">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aspernatur nam cumque
                        officia ea, odit voluptatem, rerum neque voluptas ratione, maiores rem animi totam! Provident
                        eius ex consectetur. Minima, blanditiis.
                        Deleniti autem, optio voluptatem nostrum ut odit maxime! Optio excepturi ab repudiandae tempora,
                        eum iste ullam voluptates sed rerum suscipit assumenda id, doloremque unde eos nemo officiis.
                        Sunt, nihil qui.
                        Assumenda architecto consectetur quia distinctio minima eius provident itaque mollitia
                        asperiores nobis laudantium repellendus dignissimos omnis, nam reiciendis? Incidunt eius fugiat
                        voluptas in veritatis nemo quidem quia modi. Dolore, magni.
                        Neque ab culpa necessitatibus vero eveniet sapiente, error tempore nemo repellat quam mollitia
                        repellendus molestias soluta. Et quis modi perferendis cum, dolorem obcaecati numquam maxime
                        non, doloremque voluptatibus eius nam.
                        Error impedit sit officiis aut iure praesentium molestias aspernatur consequuntur reprehenderit
                        delectus. Quod, nam! Laudantium, doloribus possimus libero ad suscipit quas hic corporis eius
                        ducimus recusandae beatae iste, iure minima!
                        Tempora suscipit, porro, veritatis alias iure nemo repellendus cupiditate voluptatem tempore
                        facere quidem atque earum distinctio nisi, voluptate reiciendis fuga? Iusto laboriosam dolore
                        corrupti accusamus? Tempore dolorem et nemo iure!
                        Earum eveniet impedit ratione rem eos illum exercitationem mollitia, quaerat qui blanditiis
                        corrupti fugit magnam laboriosam assumenda aliquid incidunt odio! In corrupti maiores similique
                        debitis accusamus et pariatur minus repudiandae!
                        Iure soluta alias vitae culpa enim officiis aut distinctio commodi, deleniti doloribus numquam
                        velit animi, recusandae at quas provident eaque voluptatum expedita dolorem! Optio enim mollitia
                        modi, nobis error labore.
                    </p>
                </article>

            </div>
            <aside id="sale">
                <div id="sale-content-wrapper">
                    <div id="sale-img">
                        <img class="responsive-img" src="https://via.placeholder.com/200x300">
                    </div>
                    <div id="sale-title">
                        <p>80% OFF</p>
                    </div>
                    <button id="sale-buy-btn">COMPRAR AHORA</button>
                </div>
            </aside>
        </section>
    </main>
    
    <%- include("../partials/footer.ejs") %>

</body>

</html>