<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/edit-create-forms.css">
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <main>
            <form id="create-form" action="" method="post">

                <input type="text" name="product-name" id="product-name" aria-label="nombre del producto" placeholder="Nombre del producto">
                <textarea rows="15" name="descripcion" id="descripcion" aria-label="descripcion" placeholder="Descripción"></textarea>
                <label id="image" >Seleccionar Imagen</label>
                <input type="file" name="image" accept=".png, .jpeg, .jpg" id="image" aria-label="imagen" alt="Imagen">
                <input type="text" name="product-name" id="product-name" aria-label="nombre del producto" placeholder="Categoría del producto">
                <input type="number" name="precie" id="precie" aria-label="precio" placeholder="Precio">
                <input type="email" name="email" id="email" aria-label="email" placeholder="Email de contacto">

                <button type="reset" id="delete-btn">Borrar</button>

                <div id="form-selection-wrapper">
                    <button id="create-btn" type="submit" aria-label="create">Crear</button>
                    <button id="edit-btn"  aria-label="edit"><a href="/products/edit">Editar</a></button>
                </div>
                
            </form>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>