<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body id="body-edit-create">

    <%- include("../partials/header.ejs") %>

        <main id="main-edit-create">
            <h2 id="title">Editar Producto</h2>
            <form id="create-form" action="" method="post">

                <input type="text" name="product-name" id="product-name" aria-label="nombre del juego" placeholder="Nombre del juego">

                <input type="text" name="dev" id="dev" aria-label="desarrollador" placeholder="Desarrollador">

                <div id="gender">
                    <label for="categoria">Género:</label>
                    <select name="categoria">
                        <option value="arcade">Arcade</option>
                        <option value="accion">Acción</option>
                        <option value="deportivo">Deportivo</option>
                        <option value="estrategia">Estrategia</option>
                        <option value="aventura">Aventura</option>
                    </select>
                </div>

                <input type="email" name="email" id="email" aria-label="email" placeholder="Email de contacto">


                <label for="date">Fecha de lanzamiento</label>
                <input type="date" name="date" id="date" aria-label="fecha de lanzamiento" placeholder="Fecha de lanzamiento">
                
                <span id="subtitle">Plataforma</span>
                <div id="checkbox-wrapper">
                    <label for="windows">Windows</label>
                    <input type="checkbox" name="windows" id="windows">
                    <label for="ios">IOS</label>
                    <input type="checkbox" name="ios" id="ios">
                    <label for="linux">Linux</label>
                    <input type="checkbox" name="linux" id="linux">
                </div>

                <input type="number" name="precie" id="precie" aria-label="precio" placeholder="Precio">

                <label id="image" >Cargar Imágenes</label>
                <input type="file" name="image" accept=".png, .jpeg, .jpg" id="image" aria-label="imagen" alt="Imagen">

                <textarea rows="10" name="requeriment-min" id="requeriment-min" aria-label="requisitos minimos" placeholder="Requisitos mínimos"></textarea>

                <textarea rows="10" name="requeriment" id="requeriment" aria-label="requeriment" placeholder="Requisitos recomendados"></textarea>

                <textarea rows="12" name="descripcion" id="descripcion" maxlength="500" aria-label="descripcion" placeholder="Descripción . . ."></textarea>
                
                <button type="reset" id="delete-btn">Borrar</button>

                <button type="submit" id="send-btn">Enviar</button>

                <div id="form-selection-wrapper">
                    <button id="create-btn"  aria-label="create"><a href="/products/create">Crear</a></button>
                    <button id="edit-btn"  aria-label="edit"><a href="/products/edit">Editar</a></button>
                </div>
                
            </form>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>