<footer>
    <div class="barra-principal">
        <div class="imagen-logo">
            <img class="responsive-img" src="/img/Logo2.0-sinfondo.png" alt="Logo IW">
        </div>
        <nav>
            <ul>
                <li>Contacto</li>
                <li>Términos y Condiciones</li>
                <li>Nosotros</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <div class="iconos">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter-square"></i>

        </div>
    </div>

</footer>