<header>
    <div class="barra-principal">
        <div class="imagen-logo">
            <a href="/">
                <img class="responsive-img" src="/img/Logo2.0-sinfondo.png" alt="Logo IW">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/products">Categorías</a></li>
                <li><a href="#">Ofertas</a></li>
                <% if (locals.loggedSession) { %>
                    <li id="usuario">
                        <a href="/users/profile" id="anchor">
                            <div id="profile-pic-wrapper">
                                <img src="<%= locals.userLogged.profilepic %>" alt="Foto Perfil">
                            </div>
                            <span>
                            <%= locals.userLogged.username %>
                        </span>
                        </a>
                        <!--Cambiar por imagen de perfil?-->
                    </li>
                    <li><a href="/users/logout">Log Out</a></li>
                    <%  } else { %>
                        <li><a href="/users/register">Registrarse</a></li>
                        <li><a href="/users/login">Ingresar</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <% }%>

            </ul>
        </nav>
        <div class="iconos">

            <a href="#"><i class="fas fa-search"></i></a>
            <% if (locals.loggedSession) { %>
                <a href="/products/shoppingCart"><i class="fas fa-shopping-cart"></i></a>
                <%  } %>


        </div>
    </div>
</header>