<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>IndieWave</title>
</head>

<body id="body-404">
    <main id="main-404">
        <div id="textbox-404">
            <h1 id="error-404">Error 404</h1>
            <p class="text-404">Turn back surfer</p>
        </div>
    </main>

</body>

</html>