<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="/js/easterEgg.js" defer></script>
    <title>IndieWave</title>
</head>

<body style="background-image: url(/img/fondoEasterEgg.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
min-height: 100vh;">
    <main style="margin: auto; background: none; display: flex; flex-direction: column; justify-content: center; align-items: center;" >
        <audio id="audio" loop controls>
            <source src="audioCordoba.mp3">
        </audio>
        <div id="tombstone-div" style="display:none">
            <img src="/img/tombstone.png" alt="">
        </div>
    </main>

</body>

</html>