<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sheetslider.min.css">
    <link href="//cdn.jsdelivr.net/gh/zkreations/SheetSlider@2.2.0/dist/sheetslider.min.css" rel="stylesheet"/>
    <link href="//cdn.jsdelivr.net/gh/zkreations/SheetSlider@2.2.0/dist/sheetslider.min.js" rel="stylesheet"/>
    
    <link rel="stylesheet" href="/css/home-dos.css">
    <title>Indie Wave</title>

</head>
<!-- body -->

<body>
    <header>
        <!-- header -->
        <div class="barra-principal">
            <div class="imagen-logo">
                <a href="/">
                    <img class="responsive-img" src="/img/Logo2.0-sinfondo.png" alt="Logo IW">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Categorías</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <div class="iconos">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="/shoppingCart"><i class="fas fa-shopping-cart"></i></a>

            </div>
        </div>
    </header>
    <!-- main -->
    <main>
        <!-- slider -->
        <div class="container">

            <ul class="slider">
                <li id="slide1">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/car.jpg" />
                </li>
                <li id="slide2">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg" />
                </li>
                <li id="slide3">
                    <h1>Ejemplo con otros elementos</h1>
                    <p>Esto es un párrafo de ejemplo para comprobar que podemos meter cualquier tipo de elementos en el
                        slider</p>
                    <a href="https://codepen.io/kikopalomares/pen/zYGvzvw">Código del slider</a>
                </li>
            </ul>

            <ul class="menu">
                <li>
                    <a href="#slide1">1</a>
                </li>
                <li>
                    <a href="#slide2">2</a>
                </li>
                <li>
                    <a href="#slide3">3</a>
                </li>
            </ul>

        </div>
        <!-- prodoductos destacados -->
        <section id="featured">

            <article class="product-articule">

                <div class="responsive-img">
                    <img src="https://via.placeholder.com/250x250" alt="Foto producto Indie Game">
                </div>
                <div class="detail-prod">
                    <h3>Dead cells</h3>
                    <p>$9.99</p>
                </div>

            </article>
            <article class="product-articule">
                <div class="responsive-img">
                    <img src="https://via.placeholder.com/250x250" alt="Foto producto Indie Game">
                </div>
                <div class="detail-prod">
                    <h3>Hollow Knight</h3>
                    <p>$5</p>
                </div>
            </article>
            <article class="product-articule">
                <div class="responsive-img">
                    <img src="https://via.placeholder.com/250x250" alt="Foto producto Indie Game">
                </div>
                <div class="detail-prod">
                    <h3>Furi</h3>
                    <p>$12.50</p>
                </div>
            </article>
            <article class="product-articule">
                <div class="responsive-img">
                    <img src="https://via.placeholder.com/250x250" alt="Foto producto Indie Game">
                </div>
                <div class="detail-prod">
                    <h3>Stardew Valley</h3>
                    <p>$3.99</p>
                </div>
            </article>

        </section>
        <!-- Formulario de categorias -->
        <div id="form">
            <form action="/home" method="GET">
                <div>
                    <label for="categoria">Categoría:</label>
                    <select name="categoria">
                        <option value="arcade">Arcade</option>
                        <option value="accion">Acción</option>
                        <option value="deportivo">Deportivo</option>
                        <option value="estrategia">Estrategia</option>
                        <option value="simulacion">Simulación</option>
                        <option value="aventura">Aventura</option>
                        <option value="mesa">Juegos de mesa</option>
                        <option value="musicales">Juegos musicales</option>
                    </select>
                </div>
            </form>
        </div>
        <!-- Productos destacados de cada categoria elegida -->
        <!-- <section id="category"> 
            <div class="category-div">
                <i class="fas fa-chevron-left"></i>
                <article class="category-articule">
                    <div class="img-div">
                        <img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>
                </article>
                <article class="category-articule">
                    <div class="img-div">
                        <img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="category-articule">
                    <div class="img-div">
                        <img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="category-articule">
                    <div class="img-div">
                        <img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <article class="category-articule">
                    <div class="img-div">
                        <img src="https://via.placeholder.com/250x500" alt="Foto producto Indie Game">
                    </div>
                    <div class="detalle">
                        <h3>Nombre del producto</h3>
                        <p>$1.000</p>
                    </div>

                </article>
                <i class="fas fa-chevron-right"></i>
            </div>
        </section>-->
        <!-- slide -->
        <div class="sheetSlider sh-fade sh-auto">
            <input id="s1" type="radio" name="slide1" checked=""> 
            <input id="s2" type="radio" name="slide1"> 
            <input id="s3" type="radio" name="slide1"> 
            <input id="s4" type="radio" name="slide1"> 
            <input id="s5" type="radio" name="slide1"> 
            <div class="sh__content">
         
               <!-- Slider Item -->
               <div class="sh__item">
                  <img src="img/furi-producto.jpg" alt="imgText">
                  <!-- Item Info -->
                  <div class="sh__meta">
                     <h4>Furi</h4>
                     <span>Secondary text without link</span>
                  </div>
               </div>
         
               <!-- Slider Item -->
               <div class="sh__item">
                  <img src="img/cuphead-carrusel.jpg" alt="imgText">
                  <!-- Item Info -->
                  <div class="sh__meta">
                     <h4>Cup Head</h4>
                     <span>Secondary text <a href="#">with link</a></span>
                  </div>
               </div>
         
               <!-- Slider Item -->
               <div class="sh__item">
                  <img src="https://via.placeholder.com/500x500" alt="imgText">
                  <!-- Item Info -->
                  <div class="sh__meta">
                     <h4>Cup Head</h4>
                     <span>Secondary text without link</span>
                  </div>
               </div>
         
               <!-- Slider Item -->
               <div class="sh__item">
                  <img src="https://via.placeholder.com/500x500" alt="imgText">
                  <!-- Item Info -->
                  <div class="sh__meta">
                     <h4>Cup Head</h4>
                     <span>Secondary text without link</span>
                  </div>
               </div>
         
               <!-- Slider Item -->
               <div class="sh__item">
                  <img src="https://via.placeholder.com/500x500" alt="imgText">
                  <!-- Item Info -->
                  <div class="sh__meta">
                     <h4>Cup Head</h4>
                     <span>Secondary text without link</span>
                  </div>
               </div>
               
            </div><!-- .sh__content -->
         
            <!--botones -->
            <div class="sh__btns">
               <label for="s1"></label>
               <label for="s2"></label>
               <label for="s3"></label>
               <label for="s4"></label>
               <label for="s5"></label>
            </div><!-- .sh__btns -->
         
            <!--flechas-->
            <div class="sh__arrows">
               <label for="s1"></label>
               <label for="s2"></label>
               <label for="s3"></label>
               <label for="s4"></label>
               <label for="s5"></label>
            </div><!-- .sh__arrows -->
            
            <!--Control-->
            <button class="sh-control"></button>  
         </div>
    </main>

    <footer>
        <!-- footer  -->
        <div class="barra-principal">
            <div class="imagen-logo">
                <img class="responsive-img" src="/img/Logo2.0-sinfondo.png" alt="Logo IW">
            </div>
            <nav>
                <ul>
                    <li>Contacto</li>
                    <li>Términos y Condiciones</li>
                    <li>Nosotros</li>
                    <li>Subí tu juego</li>
                </ul>
            </nav>
            <div class="iconos">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>

            </div>
        </div>
    </footer>
    <script src="/css/sheetslider.min.js"></script>
</body>

</html>