<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>IndieWave</title>
</head>

<body>
    <header>
    </header>
    <main>
        <section id="title-area">
            <div id="breadcrumb">
                <p>Todos los juegos > Categoría > Nombre del Juego</p>
            </div>
            <h2>Nombre del Juego</h2>
        </section>
        <section id="game-area">
            <article id="carrousel">
                <div id="main-img">
                    <img class="responsive-img" src="https://via.placeholder.com/1120x500" alt="carrousel">
                </div>
                <div id="img-bar">
                    <i class="fas fa-chevron-left"></i>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </article>
            <aside id="game-info">
                <div id="game-logo">
                    <img class="responsive-img" src="https://via.placeholder.com/460x200">
                </div>
                <div id="game-desc">
                    <div>
                        <span>Desarrollador</span>
                        <span>Ejemplo</span>
                    </div>
                    <div>
                        <span>Fecha de lanzamiento</span>
                        <span>Ejemplo</span>
                    </div>
                    <div>
                        <span>Plataforma</span>
                        <span>Ejemplo</span>
                    </div>
                </div>
                <div id="game-info-button-wrapper">
                    <span id="price-tag">$99.99</span>
                    <button id="game-to-cart-btn">Añadir al Carro</button>
                    <button id="game-to-wishlist-btn">Añadir Lista de Deseados</button>
                </div>
            </aside>
        </section>
        <section id="extras-area">
            <div id="req-dlc-wrapper">
                <h3>Requisitos del Sistema</h3>
                <article id="requisites">
                    <div id="minimum">
                        <div>
                            <h4>Mínimos</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolores est obcaecati
                            reiciendis rerum hic nostrum ducimus. Doloribus fuga quae, alias minima blanditiis error
                            officiis ratione non repellendus amet asperiores.</p>
                    </div>
                    <div id="recommended">
                        <div>
                            <h4>Recomendados</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolores est obcaecati
                            reiciendis rerum hic nostrum ducimus. Doloribus fuga quae, alias minima blanditiis error
                            officiis ratione non repellendus amet asperiores.</p>
                    </div>
                </article>

                <!--
                ***QUEDA PENDIENTE***
                <article id="DLC">
                    <h3>DLC</h3>
                    <div id="dlc-img"></div>
                    <div id="dlc-desc"></div>
                    <div id="buy-wrapper">
                        <div id="price"></div>
                        <button id="dlc-to-cart-btn"></button>
                    </div>
                </article>
                -->
            </div>
            <aside id="sale">
                <div id="sale-img">
                    <img class="responsive-img" src="https://via.placeholder.com/200x300">
                </div>
                <div id="sale-title">
                    <p>Oferta/Descuento/Novedad</p>
                </div>
                <button id="sale-buy-btn">Comprar ahora</button>
            </aside>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>