<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>IndieWave</title>
</head>

<body>
    <header>
    </header>
    <main>
        <section id="title-area">
            <div id="breadcrumb">
                <p>Todos los juegos > Categoría > Nombre del Juego</p>
            </div>
            <h2>Nombre del Juego</h2>
        </section>
        <section id="game-area">
            <article id="carrousel">
                <div id="main-img">
                    <img class="responsive-img" src="https://via.placeholder.com/1120x500" alt="carrousel">
                </div>
                <div id="img-bar">
                    <i class="fas fa-chevron-left"></i>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100">
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </article>
            <aside id="game-info">
                <div id="game-logo">
                    <img class="responsive-img" src="https://via.placeholder.com/460x200">
                </div>
                <div id="game-desc">
                    <!--QUÉ CORNO VA ACÁ?-->
                    <p> ipsum dolor sit amet consectetur adipisicing elit. In possimus, officiis nulla architecto
                        consequuntur nihil ut modi corrupti ipsa perferendis facere praesentium dolorum, quibusdam error
                        totam accusamus ratione debitis incidunt. Pariatur quia nobis atque iure, magni soluta
                        blanditiis, totam aspernatur culpa veritatis perspiciatis laboriosam unde, numquam architecto
                        optio voluptate maxime accusamus. Omnis ex numquam quo vero nisi aliquid provident molestiae!>
                    </p>
                    <!--QUÉ ERA ESO DE "DETALLE DE COMPRA" -> ERA DETALLE DE PRODUCTO. MANDALE DESARROLLADOR, FECHA Y ¿PLATAFORMA? -->
                </div>
                <div id="game-info-button-wrapper">
                    <button id="game-to-cart-btn">Añadir al Carro</button>
                    <button id="game-to-wishñiost-btn">Añadir Lista de Deseados</button>
                </div>
            </aside>
        </section>
        <section id="extras-area">
            <div id="req-dlc-wrapper">
                <article id="requisites">
                    <h3>Requisitos del Sistema</h3>
                    <div id="minimum"></div>
                    <div id="recommended"></div>
                </article>
                
                <!--
                ***QUEDA PENDIENTE***
                <article id="DLC">
                    <h3>DLC</h3>
                    <div id="dlc-img"></div>
                    <div id="dlc-desc"></div>
                    <div id="buy-wrapper">
                        <div id="price"></div>
                        <button id="dlc-to-cart-btn"></button>
                    </div>
                </article>
                -->
            </div>
            <aside id="sale">
                <div id="sale-img"></div>
                <div id="sale-title"></div>
                <button id="sale-buy-btn"></button>
            </aside>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>