<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>IndieWave</title>
</head>

<body>
    <header></header>
    <main>
        <form id="register-form" action="">
            <button aria-label="ingresar">boton</button>
            <button aria-label="registrarse">boton</button>
            <input type="text" name="name" id="name" aria-label="nombre" placeholder="Nombre">
            <input type="text" name="surname" id="surname" aria-label="apellido" placeholder="Apellido">
            <input type="text" name="username" id="username" aria-label="nombre de usuario" placeholder="Nombre de usuario">
            <input type="password" name="password" id="password" aria-label="contraseña" placeholder="Contraseña">
            <div id="checkbox-wrapper">
                <input type="checkbox" name="news" id="news">
                <label for="news">Me gustaría recibir novedades</label>
            </div>
            <button>boton</button>
        </form>
    </main>
    <footer></footer>
</body>