<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/shoppingCart.css">
</head>

<body>
    <header>
        <div class="barra-principal">
            <div class="imagen-logo">
                <a href="/">
                    <img class="responsive-img" src="/img/Logo2.0-sinfondo.png" alt="Logo IW">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Categorías</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <div class="iconos">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="/shoppingCart"><i class="fas fa-shopping-cart"></i></a>
    
            </div>
        </div>
    </header>

    <main>

        <h2>Carrito de compras</h2>

        <section class="upper-part">
            <ul class="cart-bar">
                <li id="barra-producto">Producto</li>
                <li id="barra-descripcion">Descripción</li>
                <li>Precio</li>
                <li>Subtotal</li>
            </ul>

            <article class="producto">
                <div class="categoria-producto">
                    <img class="thumbnail-producto responsive-img" src="https://via.placeholder.com/100x100">
                </div>
                <div class="categoria-producto descripcion-producto">
                    <div class="titulo-producto "><a href="/productDetail">Undertale</a></div>
                    <div id="eliminar">Eliminar</div>
                </div>
                <div class="precio categoria-producto">$19.99</div>
                <div class="precio categoria-producto">$19.99</div>
            </article>

            <article class="producto">
                <div class="categoria-producto">
                    <img class="thumbnail-producto responsive-img" src="https://via.placeholder.com/100x100">
                </div>
                <div class="categoria-producto descripcion-producto">
                    <div class="titulo-producto "><a href="/productDetail">Slay the Spire</a></div>
                    <div id="eliminar">Eliminar</div>
                </div>
                <div class="precio categoria-producto">$19.99</div>
                <div class="precio categoria-producto">$19.99</div>
            </article>

        </section>

        <section class="bottom-part">
            <div class="cupones">
                <form action="/shoppingCart" method="get">
                    <label>INGRESE CUPÓN</label>
                    <input type="text" name="descuento" placeholder="#12345">
                    <button type="submit" for="descuento">APLICAR</button>
                </form>
            </div>

            <div class="subtotal">

                <div class="descuento-wrapper">
                    <text class="texto-descuento">Descuento</text>
                    <text class="precio-descuento">%%%</text>
                </div>

                <div class="total-wrapper">
                    <text class="valor-total">Total</text>
                    <text class="precio-total">$$$</text>
                </div>

                <div id="botones">
                    <form action="/" method="get">
                        <button id="seguir-comprando">Seguir Comprando</button>
                    </form>

                    <form action="/shoppingCart" method="get">
                        <button id="comprar">COMPRAR</button>
                    </form>


                </div>

        </section>


        <article class="oferta-especial">
            <text class="titulo-oferta">OFERTA ESPECIAL</text>

            <div class="wrapper-oferta">
                <div class="imagen-oferta">
                <img src="https://via.placeholder.com/150x100">
                </div>
                <div class="titulo-juego">This War Of Mine</div>
                <div class="descripcion-oferta">
                    <div class="descuento-juego">80% OFF</div>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </article>
    </main>

    <footer>
            <div class="barra-principal">
                <div class="imagen-logo">
                <img class="responsive-img" src="/img/Logo2.0-sinfondo.png" alt="Logo IW">
                </div>
            <nav>
                <ul>
                    <li>Contacto</li>
                    <li>Términos y Condiciones</li>
                    <li>Nosotros</li>
                    <li>Subí tu juego</li>
                </ul>
            </nav>
            <div class="iconos">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
    
            </div>
            </div>
    </footer>

</body>

</html>