<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/shoppingCart.css">
</head>
<body>
    <header>
<div></div>
    </header>
    
    <main>

        <h2>Carrito de compras</h2>

        <section class="upper-part">
            <ul class="cart-bar">
                <li>Producto</li>
                <li>Descripción</li>
                <li>Cantidad</li>
                <li>Precio</li>
                <li>Subtotal</li>
            </ul>

            <article class="producto">
                <img class="thumbnail-producto">
                <div id= "eliminar-producto">
                    <div class="titulo-producto">Titulo del producto en cuestion</div>
                    <text>Eliminar</text>
                </div>
                <div class="cantidad-producto">+ 1 -</div>
                <div>$$$</div>
                <div>$$$</div>
            </article>

            <article class="producto">
                <img class="thumbnail-producto">
                <div id= "eliminar-producto">
                    <div class="titulo-producto">Titulo del producto en cuestion</div>
                    <text>Eliminar</text>
                </div>
                <div class="cantidad-producto">+ 1 -</div>
                <div>$$$</div>
                <div>$$$</div>
            </article>

        </section>

        <section class="bottom-part">
        <div class="cupones">
            <form action="/shoppingCart" method="get">
            <label>Ingrese cupón</label>
            <input type="text" name="descuento" placeholder="Ingrese código">
            <button type="submit" for="descuento">APLICAR</button>
            </form>
        </div>

        <div class="subtotal">
        
            <div class="descuento">
            <text>Descuento</text>
            <text>%%%</text>
            </div>

            <div class="total">
            <text>Total</text>
            <text>$$$</text>
            </div>

        <div id="botones">
        <form action="/" method="get"> 
                <button>Volver a la tienda</button>
        </form> 

        <form action="/shoppingCart" method="get">
                <button>COMPRAR</button>
        </form>
         
        
        </div>

        </section>
        

        <article class="oferta-especial">
            <text>OFERTA ESPECIAL</text>

        <div class="datos-producto-oferta">
                <img class="thumbnail-producto">
            
            <div class="datos-oferta">
                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, dolorem harum laborum consequuntur reiciendis optio incidunt accusamus quibusdam aliquam distinctio cupiditate sapient
                </div>

             <i class="fas fa-cart-plus"></i>
            </div>
        </div>
        </article>
    </main>

    <footer>
        <div>

        </div>
    </footer>

</body>
</html>