/*MOBILE - TABLET*/
body{
    height: auto;
} 
main h2{
    text-align: center;
}
main{
    width: 95vw;
    height: 100%;
    background-color: rgba(92, 44, 109, 0.8);
    box-sizing: border-box;
    padding: 16px;
    font-family: ubuntu;
    color: var(--turquoise);
    display: flex;
    flex-direction: column;
}

#edit-form, #create-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
}

#form-selection-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#edit-form input, #create-form input{
    font-family: ubuntu;
    height: 30px;
    font-size: 12px;
    margin-top: 20px;
    width: 80%;
}

#edit-form button, #create-form button{
    font-family: ubuntu;
    height: 30px;
    background-color: var(--thistle);
    font-size: 18px;
    color: var(--space-cadet);
    min-width: 120px;
    margin-top: 5%;
}


#edit-form #delete-btn, #create-form #delete-btn{
    width: 80%;
    height: 40px;
    margin-top: 5%;
}

#edit-form a, #create-form a{
    color: var(--space-cadet);
    font-size: 24px;
}
#requeriment{
    margin-top: 2px
}
textarea{
    resize: none; 
    margin-top: 20px; 
    margin-bottom: 0px; 
    font-size: 12px;
    width: 80%;
}
label{
    margin-top: 40px;
}
#checkbox-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 15px;
    width: 100%;
    margin: 18px auto;
    margin-top: 5px;
}
#create-form #checkbox-wrapper input, #edit-form #checkbox-wrapper input{
    margin-top: 0;
    margin-right: 10px;
    width: 14px;
}
#create-form #checkbox-wrapper label, #edit-form #checkbox-wrapper label{
    margin-top: 0px;
}

/*DESKTOP*/
@media (min-width: 1025px){

    main{
        width: 55vw;
    }
    
    #edit-form, #create-form{
        width: 35%;
        margin: auto;
    }
    
    #form-selection-wrapper{
        justify-content: space-between;
    }
    
    
    #edit-form input, #create-form input{
        height: 50px;
        font-size: 16px;
        width: 100%;
    }
    
    #edit-form button, #create-form button{
        height: 50px;
        font-size: 24px;
        min-width: auto;
    }
    
    #edit-form #delete-btn, #create-form #delete-btn{
        width: 100%;
    }

    #edit-form a, #create-form a{
        color: var(--space-cadet);
        font-size: 24px;
    }
    textarea{
        resize: none; 
        margin-top: 20px; 
        margin-bottom: 0px; 
        font-size: 16px;
        width: 100%;
    } 
    label{
        margin-top: 40px;
    }
    #checkbox-wrapper{
        font-size: 18px;
        margin: 0;
    }
    
    #create-form #checkbox-wrapper input, #edit-form #checkbox-wrapper input{
        margin-top: 0;
        margin-right: 10px;
        width: 20px;
    }
}

