*{
    text-align: center;
    box-sizing: border-box;
}


h3, h2{
    color: #5C2C6D;
}
p{
    color: #3c345c;
}
h2{
    display: inline-block;
    background-color: rgba(92, 44, 109, 0.8);
    padding: 10px;
    text-align: left;
    color: #58DD94;
}
.fa-chevron-left{
    color: #58DD94;
}
.fa-chevron-right{
    color: #58DD94;
}

main{
    width: 75%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    font-family: "Ubuntu Mono";
}
.carrusel{
    background-color: #5C2C6D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.carrusel div{
    width: 80%;
    
}

.responsive-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.producto-main-top{
    
    justify-content: space-evenly;
    width: 70%;
    padding-top: 10px;
    margin: auto;
    padding-bottom: 30px;
}

.titulo{
    text-align: left;
    margin-top: 10px;
}
.titulo h2{
    display: inline-block;
    background-color: rgba(92, 44, 109, 0.8);
    margin: 0px;
}
.producto{
    background-color: #b8aec8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
    padding: 5px;
    border: solid 3px var(--space-cadet);
    
}
.producto img{
    width: 75%;
    margin: auto;
}

.producto-bottom img{
    width: 75%;
    margin-top: 5px;

}
.detalle{
    border: solid 3px var(--space-cadet);
    background-color: #b8aec8;
    width: 100%;
    margin: auto;
    padding: 5px;
}
.detalle-producto{
    background-color: rgba(92, 44, 109, 0.8);
    padding-bottom: 10px;
    display: flex;
    
    width: 100%;  
}
/*
.detalle-producto{
    background-color: rgba(92, 44, 109, 0.8);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;  
}
*/
.producto-main-bottom{
    display: flex;
    background-color: rgba(92, 44, 109, 0.8);
    flex-direction: column;
    align-items: center;
}

.producto-main-bottom .producto-bottom{
    width: 100%;
}

main .producto-main-bottom .fa-chevron-left{
    display: none;
}
main .producto-main-bottom .fa-chevron-right{
    display: none;
}
.producto-main{
    align-items: center;
}

.producto-bottom h3{
    font-size: 15px;
}


@media (min-width:600px){
    .producto-main{
        display: flex;
    }
    .producto{
        width: 20%;
    }
    .producto-main-top{
        display: flex;
        width: 100%;
    }
    
    main{
        margin-top: 30%;
    }
    main .producto-main-bottom .fa-chevron-left{
        display: block;
    }
    main .producto-main-bottom .fa-chevron-right{
        display: block;
    }

    h2{
        text-align: left;
        color: #58DD94;
    }
    
    .producto-main{
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 15px;
        width: 100%;
    
    }
    .producto-main-top{
        flex-direction: row;
        justify-content: space-between;
    
    }

    .producto-main-bottom {
        flex-direction: row;
        justify-content: center;
    }

    .producto-main-bottom .producto-bottom{
        width: 15%;
    }

    .producto-main-bottom .detalle{
        width: 100%;
    }


    .producto-main-bottom .img-div{
        width: 100%;
    }

    .producto-main-bottom img  {
        height: 25vh;
    }

    
}