 
  /*main*/
  main{
    font-family: "Ubuntu Mono";
  }
  /*carrusel*/
  .container {
    margin: auto;
    background-color: var(--eminence);
    width: 55%;
    padding: 30px;
    text-align: center;
    border: solid 5px var(--space-cadet);
}
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:var(--eminence);
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: var(--turquoise);
    text-decoration: none;
    background-color: var(--steelpink);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }
  .container #slide3 h1, .container #slide3 p, .container #slide3 a{
    color: var(--turquoise);
  }
/*featured*/
#featured{
  text-align: center;
}
#featured .product-article{
  width: 70%;
  background-color: var(--space-cadet);
  margin: auto;
  border: solid 1px var(--turquoise);
  margin-top: 10%;
}
#featured .product-article .detail-prod h3{
  color: var(--turquoise);
  border: solid 2px var(--steelpink);
  padding-top: 5px;
  margin: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}
#featured .product-article .detail-prod p{
  color: var(--turquoise);
}
/*form*/
/* #form label{
  background-color: var(--eminence);
  color: var( --turquoise);
  margin-left: 4%;
  padding: 4px;
}
#form select{
  background-color: var(--eminence);
  color: var( --turquoise);
  padding: 3px;
} */
/*Subtitulo*/
#subtitle{
  background-color: var(--eminence);
  color: var( --turquoise);
  margin: auto;
  padding: 4px;
  width: 70%;
  text-align: center;
  margin-top: 5%;
}
/*category*/
#category{
  text-align: center;
}
#category .category-article{
  width: 80%;
  background-color: var(--space-cadet);
  
  border: solid 1px var(--turquoise);
  margin-top: 10%;
}
#category .category-article .detalle h3{
  color: var(--turquoise);
  border: solid 2px var(--steelpink);
  padding-top: 5px;
  margin: 5px;
  padding-bottom: 5px;
  font-size: 17px;
}
#category .category-article .detalle p{
  color: var(--turquoise);
}
/*slide 2*/
.sheetSlider{
  border: solid var(--space-cadet);
  width: 90%;
  margin: auto;
}
.sh__item img{
  height: -webkit-fill-available;
}
/*footer*/


/*medias*/
@media (min-width:360px) and (max-width:767px) {
  .container {
    margin: auto;
    background-color: var(--eminence);
    width: 70%;
    padding: 30px;
    border: solid 5px var(--space-cadet);
  }
  #featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* #form label {
    margin-left: 4.5%;
  } */
}

@media (min-width:768px){
  .container {
    text-align: center;
    width: 70%; 
    background-color: var(--eminence);
    padding: 30px;
    border: solid 5px var(--thistle);
  }
  /* #form label {
    margin-left: 12%;
  }
  #form{
    padding-bottom: 15px;
  } */
  #subtitle {
    margin-left: 0px;
    width: 25%;
  }
  /* .sheetSlider {
    width: 75%;
  } */
  #featured{
    display: flex;
    flex-wrap: nowrap;
  }
  #category{
    display: flex;
    background-color: var(--eminence);
    justify-content: space-around;
    padding: 0px 10px 10px;
  }
  #category .category-article {
    margin-top: 2%;
    width: 15%;
  }
}