
main{
    width: 75vw;
    background-color: blueviolet;
    margin: auto;
}

main #game-area{
    display: flex;
    box-sizing: border-box;
}

main #game-area #carrousel{
    width: 70%;
}

main #game-area #carrousel #main-img{
    width: 100%;
}

main #game-area #carrousel #img-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main #game-area #game-info{
    width: 30%;
    margin-left: 60px;
    box-sizing: border-box;
}

main #game-area #game-info #game-info-button-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main #game-area #game-info button{
    width: 70%;
    height: 50px;
    margin-top: 10px;
}

main #extras-area #req-dlc-wrapper{
    width: 70%;
}

main #extras-area #sale{
    width: 30%;
}


