/*MOBILE*/

    main {
        width: 95vw;
        background-color: rgba(92, 44, 109, 0.8);
        box-sizing: border-box;
        padding: 16px;
        font-family: ubuntu;
        color: var(--turquoise);
    }
    main #title-area #breadcrumb {
        display: none;
    }
    main #title-area h2 {
        font-size: 20px;
    }
    main #game-area {
        display: flex;
        flex-direction: column-reverse;
    }
    main #game-area #carrousel {
        width: 100%;
        margin-top: 20px;
    }
    main #game-area #carrousel #main-img {
        width: 100%;
    }
    main #game-area #carrousel #img-bar { /*¿Cómo hacemos para mostrar menos elementos sin que se caigan?*/
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
    }
    main #game-area #carrousel #img-bar .img-div {
        width: 25%;
    }

    main #game-area #carrousel #img-bar #last-div {
        display: none;
    }

    main #game-area #game-info {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        box-sizing: border-box;
    }
    main #game-area #game-info #game-desc {
        display: flex;
        flex-direction: column;
        color: var(--thistle);
    }
    main #game-area #game-info #game-desc>div {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    main #game-area #game-info #game-info-button-wrapper {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    main #game-area #game-info #game-info-button-wrapper #price-tag {
        font-size: 20px;
        color: var(--medium-aquamarine);
    }
    main #game-area #game-info button {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        font-weight: 600;
        font-family: 'ubuntu';
        background-color: var(--thistle);
        color: var(--space-cadet);
        font-size: 18px;
    }
    main #extras-area {
        display: flex;
        box-sizing: border-box;
    }
    main #extras-area #req-dlc-wrapper {
        width: 100%;
        box-sizing: border-box;
        margin-top: 40px;
        border-top: solid 1px var(--steelpink);
    }
    main #extras-area #req-dlc-wrapper h3 {
        margin-top: 30px;
        font-size: 18px;
    }
    main #extras-area #req-dlc-wrapper #requisites {
        display: flex;
        margin-bottom: 20px;
    }
    main #extras-area #req-dlc-wrapper #requisites div {
        width: 50%;
    }
    main #extras-area #req-dlc-wrapper #requisites #minimum {
        margin-right: 30px;
    }
    main #extras-area #req-dlc-wrapper #requisites h4 {
        margin: 0;
        padding: 10px 5px;
        display: inline-block;
        background-color: rgba(184, 174, 200, 0.8);
        color: var(--space-cadet);
        border-radius: 7px 7px 0 0;
        font-size: 14px;
    }
    main #extras-area #req-dlc-wrapper #requisites p {
        margin: 0;
        padding: 10px;
        background-color: rgba(184, 174, 200, 0.8);
        color: var(--space-cadet);
        border-radius: 0 7px 7px 7px;
    }
    main #extras-area #game-summary {
        padding-top: 20px;
        border-top: 1px var(--steelpink) solid;
    }
    main #extras-area #game-summary p {
        margin: 0;
        padding: 10px;
        background-color: rgba(184, 174, 200, 0.8);
        color: var(--space-cadet);
        border-radius: 7px;
    }
    main #extras-area #sale {
        display: none;
    }

/*TABLET*/
@media (min-width: 768px){
    main #game-area #game-info button {
        width: 50%;
    }
    main #game-area #game-info #game-desc {
        margin: auto;
        width: 50%;
    }
    main #title-area h2 {
        font-size: 30px;
    }
}

/*DESKTOP*/
@media (min-width: 1025px) {
    main {
        width: 75vw;
    }
    main #title-area #breadcrumb {
        display: block;
        color: var(--thistle);
        padding-bottom: 10px;
        border-bottom: 1px solid var(--steelpink);
    }
    main #title-area h2 {
        font-size: 40px;
    }
    main #game-area {
        flex-direction: row;
    }
    main #game-area #carrousel {
        margin: 0;
        width: 70%;
    }
    main #game-area #game-info {
        width: 30%;
        margin-left: 60px;
        font-size: 1.2rem;
    }
    main #game-area #game-info #game-info-button-wrapper {
        margin-top: 40px;
    }
    main #game-area #game-info #game-info-button-wrapper #price-tag {
        align-self: flex-start;
    }
    main #game-area #game-info button {
        height: 50px;
        font-size: 24px;
    }
    main #extras-area {
        display: flex;
        box-sizing: border-box;
    }
    main #extras-area #req-dlc-wrapper {
        width: 70%;
        padding-left: 30px;
    }
    main #extras-area #req-dlc-wrapper h3 {
        margin-top: 30px;
        font-size: 24px;
    }
    main #extras-area #req-dlc-wrapper #requisites {
        margin-bottom: 40px;
    }
    main #game-area #carrousel #img-bar .img-div {
        width: 20%;
    }
    main #game-area #carrousel #img-bar #last-div {
        display: block;
    }
    main #extras-area #req-dlc-wrapper #requisites #minimum {
        margin-right: 30px;
    }
    main #extras-area #req-dlc-wrapper #requisites h4 {
        font-size: 16px;
    }
    main #extras-area #req-dlc-wrapper #requisites p {
        margin: 0;
        padding: 10px;
    }
    main #extras-area #game-summary {
        padding-top: 40px;
    }
    main #extras-area #game-summary p {
        margin: 0;
        padding: 10px;
    }
    main #extras-area #sale {
        display: block;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main #extras-area #sale #sale-content-wrapper {
        border: 5px var(--steelpink) solid;
        width: 60%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main #extras-area #sale #sale-title {
        text-align: center;
        width: 100%;
    }
    main #extras-area #sale #sale-title p {
        font-size: 40px;
        margin: 15px;
    }
    main #extras-area #sale #sale-img {
        display: inline-block;
    }
    main #extras-area #sale button {
        font-size: 24px;
        width: 80%;
        height: 50px;
        margin-top: 10px;
        font-family: 'ubuntu';
        background-color: var(--thistle);
        color: var(--space-cadet);
    }
}