*{
    box-sizing: border-box;
}

html, body {
    width:100%;
    height:100%;
    margin: 0;
}

body{
    background-image: url("/img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header */

header .barra-principal{
    max-height: 120px;
    background-color: black;
    color: var(--steelpink);
    width: 100%;
    margin: auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    font-family: videophreak;

    position: fixed;
    top: 0;
    left: 0;

    border: solid 2px var(--steelpink)
}

header .imagen-logo{
    width: 10%;

}

header img{
    width: 100%;
}

header nav{
    width: 70%;
}

header nav ul{
    margin: 0%;
    padding: 0%;
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
}

header .iconos{
    width: 10%;
    display: flex;
    justify-content: space-around;

    font-size: 1.5em;
}


/* Carrito de Compras */

main {
    background-color: transparent;
    width: 75%;
    
    margin: auto;
    margin-top: 125px;
    margin-bottom: 15px;

    padding: 1% 1%;
    background-color: rgba(92, 44, 109, 0.8);


}

main h2{
    font-family: ubuntu;
    color: var(--turquoise);
    font-size: 3em;
    padding: 0 2%;
    margin: 1% 0;
    border-bottom: var(--steelpink) solid 1px;
}

.upper-part{
    width: 90%;
    margin: auto;

}

main ul{
    list-style-type: none;
 
    margin: 0%;
    padding: 0px;
    width: 100%;

    font-size: 1rem;
    font-family: ubuntu;

    display: flex;
    justify-content:space-evenly;

}


main ul li{
    width: 20%;
    text-align: center;
    color: var(--turquoise);
    border-left: solid 1px var(--steelpink);
    border-right: solid 1px var(--steelpink);
    
}


/* Productos del carrito */

.producto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 1%;

    font-family: ubuntu;
    background-color: rgba(184, 174, 200, 0.8);
        border-radius: 7px 7px 7px 7px;
        border-color: var(--thistle) solid 3px;
}


.producto div img{
    width: 100%;
}

.producto .categoria-producto{
    width: 20%;
    text-align: center;
}

.titulo-producto{
    font-size: 1.2em;
    color: var(--space-cadet);

    font-weight: 700;
  
}

.descripcion-producto{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

    
}

.descripcion-producto #eliminar{
    font-size: 1em;

    align-self: flex-end;
    margin-top: 10%;

    text-decoration: underline;
    color: var(--steelpink);
  
}

.upper-part .producto .precio{
    color: var(--turquoise);
    font-size: 1.5em;
    
}



/*Parte inferior*/
.bottom-part{
    display: flex;
    margin-top: 1%;
    justify-content: space-between;
}


/* Descuentos */

.cupones{
   background-color: rgba(184, 174, 200, 0.8);
   
   font-size: 1.4em;
   font-family: ubuntu;
   color:var(--turquoise);  

   width: 50%;
   height: fit-content;

   border-radius: 7px 7px 7px 7px;
    border-color: var(--thistle) solid 3px;

}

.cupones form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.cupones form button{
    font-size: 1rem;
   
    padding: 2% 3%;

    background-color: var(--thistle);
    font-weight: 600;
    color: var(--space-cadet);
}

.cupones form input{
    width: 20%;
}

/* Total */

.subtotal{
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgba(184, 174, 200, 0.8);

    border-radius: 7px 7px 7px 7px;
    border-color: var(--thistle) solid 3px;

    padding: 2%;
}

.descuento-wrapper{
    margin-right: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;

    font-size: 1.3em;
    font-family: ubuntu;
    font-weight: 100;
    color: var(--medium-aquamarine)
}

.total-wrapper {
    margin-right: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;

    font-size: 2em;
    font-family: ubuntu;
}

.total-wrapper .valor-total{
    color: var(--space-cadet);
    font-weight: 600;

}

.total-wrapper .precio-total{
    color: var(--space-cadet);
    font-weight: 600;

}

/* Botones */

#botones{
    display: flex;
    justify-content: space-between;
    margin: 0px;

    
}

#botones #seguir-comprando{
    font-family: ubuntu;

    font-size: 1.1em;
    background-color: var(--thistle);
    color: var(--space-cadet);

    padding: 5px 8px;
    
}

#botones #comprar{
    font-family: ubuntu;

    font-size: 1.5em;
    background-color: var(--thistle);
    font-weight: 600;
    color: var(--space-cadet);

    width: auto;

    padding: 5%;
}


/* Oferta especial */

.oferta-especial{
    margin: 1% 5%;
    width: 50%;
    font-family: ubuntu;
    
}

.oferta-especial .titulo-oferta{
    font-size: 1.6em;
    font-weight: 600;
    color: var(--space-cadet);
   
    background-color: rgba(184, 174, 200, 0.8);

    padding: 1% 4% 1px 4%;

    border: 3px var(--steelpink) solid;
    border-bottom: none;    
}

.oferta-especial .wrapper-oferta{

    background-color: rgba(184, 174, 200, 0.8);

    
    color: var(--space-cadet);
    border: 3px var(--steelpink) solid;
}

.oferta-especial .imagen-oferta{
    width: 100%;
    display: flex;
    justify-content: center;
}


.oferta-especial .titulo-juego{
    width: auto;
    font-size: 1.8em;
    text-align: center;
    margin: 5% 0;
    color: var(--space-cadet);
}

.oferta-especial .descripcion-oferta{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.oferta-especial .descuento-juego{
    font-size: 2em;
    margin: 0 5% 5%;

    color: var(--medium-aquamarine);
}

.oferta-especial .fas{
    font-size: 2em;
    margin: 0 5% 5%;

}

/* Footer */

footer .barra-principal{
    background-color: black;
    color: var(--steelpink);
    width: 100%;
    margin: auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    font-family: ubuntu;
}

footer .imagen-logo{
    width: 15%;
}

footer img{
width: 100%;
}

footer nav{
    width: 70%;
}

footer nav ul{
    margin: 0%;
    padding: 0%;
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
}

footer .iconos{
    width: 10%;
    display: flex;
    justify-content: space-around;

    font-size: 1.5em;
}


@media (max-width:768px){
    /* Footer */
    footer .iconos{
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
}

@media (max-width:360px){
    /* Header */
    header nav ul li{
        text-align: center;
        font-size: 0.7em;
    }

    header .iconos{
        font-size: 1em;
    }



    /* Footer */
    footer .iconos{
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        font-size: 1em;
    }

    footer nav ul li{
        text-align: center;
        font-size: 0.7em;
    }
}




