<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <main>
            <div id="form-div">
                <!-- <ul id=errors-ul class="error-msg"></ul> -->
                <form action="/users/profile/changePassword?_method=PUT" id="change-password-form" method="post">
                    <input type="password" name="oldPass" id="oldPass" placeholder="Contraseña actual">

                    <input type="password" name="newPass" id="newPass" placeholder="Contraseña nueva">

                    <input type="password" name="confirmPass" id="confirmPass" placeholder="Repetir contraseña nueva">

                    <button type="submit" id="submit-btn">Enviar</button>
                </form>
            </div>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>